Fileserver/venv/
Fileserver/.env
AgentRegistry/venv/
AgentRegistry/.env
GitService/venv/
GitService/.env
AgentService/venv/
AgentService/.env
AgentRegistry/__pycache__/
AgentRegistry/.pytest_cache/
venv/
AgentRegistry/agentregistry.log
AgentService/developeragent.log
AgentService/manageragent.log
Fileserver/fileserver.log
GitService/gitservice.log
FrontendService/frontend_app.log
.DS_Store
CLAUDE.md
SWE Agent Ecosystem.svg
AgentService/temp/

AgentService/testagent.log
ServiceManager/servicemanager.log
